.product-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: Arial, sans-serif;
  padding: 20px;
  box-sizing: border-box;
}

.image-and-details {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap; /* Allow wrapping for smaller screens */
}

.images-container {
  width: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.main-img-container {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.main-img {
  width: 100%;
  max-width: 650px;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}

.side-img-container {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0;
  gap: 5px;
  justify-content: flex-start;
  width: 70%; /* Adjusted to make the container smaller */
}

.side-img {
  width: calc(20% - 10px); /* Smaller image size to fit more images */
  max-width: calc(20% - 10px); /* Adjust width to 20% minus the gap */
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s;
}

.side-img:hover {
  transform: scale(1.1);
}

.product-details {
  width: 45%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

.product-details h2 {
  margin-top: 0;
  color: whitesmoke;
  font-size: 75px !important;
  text-align: left;
}

.rating {
  font-size: 28px;
}

.star {
  color: #ddd; /* Unfilled star color */
}

.star.filled {
  color: #f39c12; /* Filled star color */
}

.add-to-cart-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #28a745;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-to-cart-button:hover {
  background-color: #218838;
}

/* Responsive Design */

@media screen and (max-width: 1024px) {
  .image-and-details {
    flex-direction: column;
    align-items: center;
  }

  .images-container,
  .product-details {
    width: 100%;
  }

  .side-img-container {
    width: 80%;
  }

  .side-img {
    width: calc(25% - 10px);
    max-width: calc(25% - 10px);
  }
}

@media screen and (max-width: 768px) {
  .images-container {
    padding: 10px;
  }

  .side-img-container {
    width: 90%;
  }

  .side-img {
    width: calc(33% - 6px);
    max-width: calc(33% - 6px);
  }

  .product-details {
    padding: 15px;
  }

  .add-to-cart-button {
    font-size: 14px;
    padding: 8px 16px;
  }
}

@media screen and (max-width: 480px) {
  .main-img {
    max-width: 100%;
  }

  .side-img {
    width: calc(20% - 5px);
    max-width: calc(50% - 5px);
  }

  .add-to-cart-button {
    font-size: 14px;
    padding: 10px;
    width: 100%;
  }

  .product-details h2 {
    font-size: 24px;
  }

  .product-details p {
    font-size: 16px;
  }
}
