
  .Maincontainer{
    height: 30vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .scrollingtext{
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;


  }
  .img-wrapper{
    height: auto;
    width: 18%;
    display: flex;
    justify-content: center;
  }
  .imgsize{
    height: 60px !important;
    width:90% !important;
    margin-left: 260px;
  }
  .sloganBox{
    height: 180px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .slogan{
      height: 100%;
      width: 64%;
  }
  .slogan h4{
    font-size: 29px;
    color: #CD9E53;
    text-align: center;
    /* font-family:Georgia, 'Times New Roman', Times, serif; */
    margin-top: 40px;
  }

  .spbox{
    height: 98vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
   align-items: center; 
  }
  .sptextbox{
    height: 40%;
    width: 50%;
    margin-left: 50px;
    margin-top: 40px;
    color: aliceblue;
  }
  .sptextbox h3{
    font-size: 35px;
  }
  .sptextbox button{
margin-top: 30px;
height: 50px;
background-color: #CD9E53;
border-radius: 8px;
border: none;
  }
  .spimgbox{
    height: 90%;
    width: 44%;
    margin-right: 40px;
    background-image: url(https://drinkflyers.com/cdn/shop/files/Margarita-Hero-20240520--2-_1.jpg?v=1716316708&width=2000);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 8px;
  }
